

# <span style="color:darkblue">Módulo 1 - Introducción a la programación con Python </span>

## <span style="color:darkblue">Sesión:	Sesión 3 - Tipos de Variables</span>

### <span style="color:darkblue">Duración estimada:	3 horas</span>

## <span style="color:darkblue"> Tabla de contenidos:</span>
 
    1- Bienvenida
    
    2- Asistencia
    
    3- Dudas de la Clase anterior
    
    4- Control de Lectura
    
    5- Objetivo
    
    6- Introducción
    
    7- Números de Python
    
    8- Int o numeros enteros
    
    9- Float o Números Flotantes
    
    10- Números Complejo 
    
    12- Conversión de tipo
    
    13- Cadenas de Texto
    
    14- Caracteres de escape
    
    15- Retroalimentación
    
    16- Asistencia

## Objetivo:

Conocer los tipos de variables en programación es esencial porque permite comprender cómo se almacenan y manejan los datos en el programa y cómo se utilizan en las operaciones. 

Los tipos de variables también determinan qué operaciones se pueden realizar con ellas y cómo se comportan en diferentes situaciones 

### Recursos

•	Sesión 3 de Curso de Python

•	Acceso a internet

•	Python Instalado en computadora

•	Visual Studio Code

### Introducción:

La programación es un proceso en el que se manipulan datos, se toman decisiones y se realizan operaciones para lograr un objetivo específico. 

Una parte fundamental de la programación es el manejo de variables, que son lugares en la memoria del equipo donde se almacenan los datos necesarios para el programa. 

Es importante conocer los tipos de variables que se pueden utilizar en un lenguaje de programación, ya que estos tipos determinan cómo se almacenan y manejan los datos, y cómo se utilizan en las operaciones. 

En este sentido, entender los tipos de variables es fundamental para la correcta escritura de código y para la resolución de problemas de programación de manera efectiva. 

En esta guía se explicará en detalle qué son los tipos de variables, sus características y cómo se utilizan en diferentes situaciones.

### Aprendamos 

En programación, el tipo de datos es un concepto importante. Las variables pueden almacenar datos de diferentes tipos, y diferentes tipos pueden hacer cosas diferentes. 

Python tiene los siguientes tipos de datos integrados de forma predeterminada, en estas categorías:

<table> <tr> <td>Tipo de texto:</td> <td>str</td> </tr> <tr> <td>Tipos numéricos:</td> <td>int, float, complex</td> </tr> <tr> <td>Tipos de secuencia:</td> <td>list, tuple, range</td> </tr> <tr> <td>Tipo de mapeo:</td> <td>dict</td> </tr> <tr> <td>Establecer tipos:</td> <td>set,frozenset</td> </tr> <tr> <td>Tipo booleano:</td> <td>bool</td> </tr> <tr> <td>Tipos binarios:</td> <td>bytes, bytearray, memoryview</td> </tr> <tr> <td>Tipo None:</td> <td>NoneType</td> </tr> </table>

## Repaso (8 min): Crear una Jupyter Notebook : nombreApellidoSesion3

1. Escribe un programa que tome el nombre de un usuario como entrada y luego lo imprima en un mensaje de bienvenida utilizando la función print(). El mensaje debe ser del siguiente formato: "¡Hola, [nombre]! Bienvenido a nuestro programa."


2. Escribe un programa que calcule el área de un triángulo a partir de su base y altura. Luego, imprime el resultado con dos decimales utilizando la función print() y la variable de formateo. 


3. Escribe un programa que solicite al usuario su nombre, edad y ciudad de residencia. Luego, imprime un mensaje que incluya esta información en un formato amigable. Utiliza la función print() y las variables de formateo.

Elaborar dos tipos de impresiones diferentes de cada uno.

In [5]:
"""
1.  Escribe un programa que tome el nombre de un usuario como entrada 
 y luego lo imprima en un mensaje de bienvenida utilizando la 
función print(). El mensaje debe ser del siguiente formato: 
     "¡Hola, [nombre]! Bienvenido a nuestro programa." 
    """

nombreUsuario = 'john Doe'

print(f"¡Hola,{nombreUsuario}! Bienvenido a nuestro programa.")

print("¡Hola,",nombreUsuario,"! Bienvenido a nuestro programa.")

print("¡Hola,%s! Bienvenido a nuestro programa."%(nombreUsuario))


"""
%s imprime un cadena s-> string 
%d imprime un numero entero d->entero
%f imprime un flotante

"""
nombrePrueba = 'AAAA'
nombreTercero = 'BBB'
print("¡Hola,%s! Bienvenido %s a nuestro %s programa."%(nombreUsuario,nombrePrueba,nombreTercero))

¡Hola,john Doe! Bienvenido a nuestro programa.
¡Hola, john Doe ! Bienvenido a nuestro programa.
¡Hola,john Doe! Bienvenido a nuestro programa.
¡Hola,john Doe! Bienvenido AAAA a nuestro BBB programa.

In [3]:
"""2. Escribe un programa que calcule el área de un triángulo 
   a partir de su base y altura. Luego, imprime el resultado 
   con dos decimales utilizando la función print() y la variable
   de formateo."""

base   = 5
altura = 7

areaTriangulo = base*altura/2

print('El área del triángulo es: %.2f'%(areaTriangulo))

El área del triángulo es: 17.50

In [16]:
Base = 5
Altura = 7
print("El Area de tu triangulo es:", (Base * Altura) / 2)

El Area de tu triangulo es: 17.5

In [17]:
print("#---#Calculando el area de un triangulo#----#")
base = float(input("Ingrese la base del triangulo:"))
altura = float(input("Ingrese la altura del triangulo: "))

resultado = ((base*altura)/2)

print(f"La base del triangulo es: {round(resultado,2)}")
print("La base del triangulo es:", round(resultado, 2), "")

#---#Calculando el area de un triangulo#----#
Ingrese la base del triangulo:5
Ingrese la altura del triangulo: 7
La base del triangulo es: 17.5
La base del triangulo es: 17.5

In [19]:
"""#3. Escribe un programa que solicite al usuario su nombre, edad 
     y ciudad de residencia. Luego, imprime un mensaje que incluya 
     esta información en un formato amigable. Utiliza la función 
     print() y las variables de formateo."""

nombreUsuario    = 'Henry Jefte Franco'
edadUsuario      = '28'
ciudadResidencia = 'San Soyapango'

print(f'{nombreUsuario}, {edadUsuario},{ciudadResidencia}')

Henry Jefte Franco, 28,San Soyapango

#### <span style="color:darkred">Configuración del tipo de datos</span>

En Python, el tipo de datos se establece cuando asigna un valor a una variable podemos ver ejemplos de cada tipo en la siguiente tabla:

<table>
<tr>
<td>Ejemplo</td>
<td>Tipo de dato</td>
</tr>

<tr>
<td>x = "Hello World"</td> 
<td>str</td>
</tr>

<tr>
<td>x = 20</td>
<td>int</td>  
</tr>

<tr>  
<td>x = 20.5</td>
<td>float</td>
</tr>

<tr>
<td>x = 1j</td> 
<td>complex</td>
</tr>

<tr>
<td>x = ["apple", "banana", "cherry"]</td>
<td>list</td>
</tr>

<tr>
<td>x = ("apple", "banana", "cherry")</td>
<td>tuple</td>
</tr>

<tr>
<td>x = range(6)</td>
<td>range</td>
</tr>

<tr>  
<td>x = {"name" : "John", "age" : 36}</td>
<td>dict</td>
</tr>

<tr>
<td>x = {"apple", "banana", "cherry"}</td>
<td>set</td> 
</tr>

<tr>
<td>x = True</td>
<td>bool</td>
</tr>

<tr>
<td>x = bytearray(5)</td>
<td>bytearray</td>
</tr>

<tr>  
<td>x = memoryview(bytes(5))</td>
<td>memoryview</td>
</tr>

<tr>
<td>x = None</td>
<td>NoneType</td>
</tr>

</table>



### Obtener el tipo de datos

Como vimos en la sesión anterior podemos conocer el tipo de dato de una variable con la función `type()` como en el ejercicio de a continuación: 

#### Imprime el tipo de datos de la variable x:

In [6]:
x = 5

print(type(x))

<class 'int'>

In [8]:
x = 'Hola '

print(type(x))

<class 'str'>

### <span style="color:darkred">Tipos de datos en Python</span>

#### <span style="color:darkred">Números de Python</span>

Hay tres tipos numéricos en Python:

•	int

•	float

•	complex

Las variables de tipo numérico se crean cuando les asignas un valor:

In [9]:
x = 1     # int 

y = 4.345 # float

z = 3j    # complex

type(x), type(y), type(z)

(int, float, complex)

Para verificar el tipo de cualquier objeto en Python, use la función `type()`:

#### <span style="color:darkred">Int o numeros enteros</span>

Int, o entero, es un número entero, positivo o negativo, sin decimales, de longitud ilimitada.

#### Ejemplos:

In [13]:
int1 = 1347863
int2 = -325347456
int3 = 1
int4 = 0

type(int1), type(int2), type(int3), type(int4)

(int, int, int, int)

#### <span style="color:darkred">Float o Números Flotantes</span>

Flotante, o "número de punto flotante" es un número, positivo o negativo, que contiene uno o más decimales.

#### Ejemplos:

In [12]:
flt1 = 0.0

flt2 = 1.0

flt = 3.12546532

type(flt1),type(flt2), type(flt)

(float, float, float)

_Note que el cero lo clasifica como un entero_

El tipo flotante también puede ser un **número científico con una "e" para indicar la potencia de 10.**

In [17]:
x = 35E3

y = 1e2

z = 1.2e3

print(x, y, z)
print(type(x), type(y), type(z))

print(type(35*10**3))

35000.0 100.0 1200.0
<class 'float'> <class 'float'> <class 'float'>
<class 'int'>

#### <span style="color:darkred">Números Complejo</span>

Flotante, o "número de punto flotante" es un número, positivo o negativo, que contiene uno o más decimales.

$$ complex = a+ bj$$
#### Ejemplos:

In [19]:
x = 2 + 5j
y = -5j
z = -3 +0j

type(x), type(y), type(z)

(complex, complex, complex)

### Práctica en Clase (4 min)

In [33]:
"""
Test para saber los tipos de datos
"""
# Checking data types
print(type(3)) # int
print(type(3.14)) # float
print(type(1 + 8j)) # complex
print(type("Hello World!")) # str
print(type([1, 2, 3])) # list
print(type({1: "one", 2: "two", 3: "three"})) # dictionary
print(type({1, 2, 3})) # set
print(type((1, 2, 3))) # tuple

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [20]:
valor = '1230'
hora  = 34

sueldo = valor*hora 

print(sueldo)

1230123012301230123012301230123012301230123012301230123012301230123012301230123012301230123012301230123012301230123012301230123012301230

In [23]:
valor = 1230
hora  = 34

sueldo = valor*hora 

print('El sueldo es : $',sueldo)

El sueldo es $ 41820

In [26]:
# int -> par contador de un bucle

total_contador = 0

# ranga(incio  <  fin)

for it in range(1,8):
    total_contador = total_contador +it
    print(f'Valor del iterador it: {it}')
    print(f'Valor del total_contador: {total_contador}')

Valor del iterador it: 1
Valor del total_contador: 1
Valor del iterador it: 2
Valor del total_contador: 3
Valor del iterador it: 3
Valor del total_contador: 6
Valor del iterador it: 4
Valor del total_contador: 10
Valor del iterador it: 5
Valor del total_contador: 15
Valor del iterador it: 6
Valor del total_contador: 21
Valor del iterador it: 7
Valor del total_contador: 28

In [28]:
# float en un tipo lista
# Calcular un promedio de notas de un estudiante 

notas = [ 7.0 , 6.5, 7.3, 6.9, 1.0]

promedio = sum(notas)/len(notas)

print('El promedio es : %.2f'%(promedio) )

El promedio es : 5.74

In [30]:
# bool -> validar un campo

usuarioRegistrado = False

if usuarioRegistrado:
    print('Bienvenido al Curso de Big Data')
else:
    print('El usuario no existe')

El usuario no existe

In [32]:
# dict -> Clave : Valor
#         Nombre : Telefono

dict_contactos = {
    'Juan': 7566443,
    'Javier': 4765443  
}

type(dict_contactos)

dict

#### <span style="color:darkred">Conversión de tipo</span>

Puede convertir de un tipo a otro con los métodos `int()`, `float()` y `complex()`:

#### Ejemplos:

In [34]:
x, y, z = 1.28, 5, 4j

print(type(x), type(y), type(z))

<class 'float'> <class 'int'> <class 'complex'>

In [36]:
int2float = float(y)
int2float

5.0

In [38]:
float2complex = complex(x)
float2complex

(1.28+0j)

In [41]:
complex2float = float(2 + 3j)
complex2float

TypeError: can't convert complex to float

#### <span style="color:darkred">Conversión de tipo</span>

Puede haber ocasiones en las que desee especificar un tipo en una variable.

Python es un lenguaje orientado a objetos y, como tal, utiliza clases para definir tipos de datos, incluidos sus tipos primitivos.

Por lo tanto, la conversión en python se realiza mediante funciones de constructor:

•	`int()`: construye un número entero a partir de un literal entero, un literal flotante (eliminando todos los decimales) o un literal de cadena (siempre que la cadena represente un número entero)

•	`float()`: construye un número flotante a partir de un literal entero, un literal flotante o un literal de cadena (siempre que la cadena represente un flotante o un entero)

•	`str()`: construye una cadena a partir de una amplia variedad de tipos de datos, incluidas cadenas, literales enteros y literales flotantes

Convertir un tipo de datos es muy necesario cuando se está capturando información por parte del usuario, muchas veces se utiliza la función `input()` para poder capturar información que en su momento al se utilizada será de tipo Sting, si requerimos que estos valores cambien a enteros o flotantes es necesario realizar la conversión como a continuación:

In [44]:
edad_usuario = input('Digite la edad: ')

print(type(edad_usuario))

edad_usuario = int(edad_usuario)

print(type(edad_usuario))

Digite la edad: 34
<class 'str'>
<class 'int'>

In [45]:
edad_usuario = int(input('Digite la edad: '))

print(type(edad_usuario))

Digite la edad: 45
<class 'int'>

In [48]:
# str -> int

cadena = '30'

cadena_int = int(cadena)
type(cadena_int)

int

In [50]:
# str -> float

cadena = '30.687'

cadena_int = float(cadena)
type(cadena_int)

float

In [52]:
# int -> cadena

entero = 50

print(type(entero))

cadena_int = str(entero)

print(type(cadena_int))
print(cadena_int)

<class 'int'>
<class 'str'>
50

In [56]:
# list - > str

lista = [1, 3, 2, 4, 5]

cadena_lst = str(lista)

print(cadena_lst)
type(cadena_lst), cadena_lst

[1, 3, 2, 4, 5]

(str, '[1, 3, 2, 4, 5]')

In [57]:
# str -> list

cadena = '[1, 3, 2, 4, 5]'

lista = eval(cadena)

print(type(lista))

<class 'list'>

#### <span style="color:darkred">Cadenas de Texto</span>

Las cadenas en python están entre comillas simples o comillas dobles.

    "hola" es lo mismo que 'hola' .

Puede mostrar un literal de cadena con la función `print()`:

In [60]:
print('Hola, mundo!')
print("Hola, mundo!")

Hola, mundo!
Hola, mundo!

#### <span style="color:darkblue">Asignar cadena a una variable</span>

La asignación de una cadena a una variable se realiza con el nombre de la variable seguido de un signo igual y la cadena:

In [61]:
a = 'Hola, MUndo'
b = 'Hello, WOrld'

print(a,b)

Hola, MUndo Hello, WOrld

#### <span style="color:darkblue">Cadenas multilinea</span>

Puede asignar una cadena de varias líneas a una variable usando tres comillas:

In [63]:
str_multiline = """ Puede devolver un rango de 
caracteres utilizando la sintaxis de división, 
especifique el índice inicial y el índice final, 
separados 
por dos puntos, para devolver una parte de la cadena.

            """

print(str_multiline)

 Puede devolver un rango de
caracteres utilizando la sintaxis de división,
especifique el índice inicial y el índice final,
separados
por dos puntos, para devolver una parte de la cadena.

#### <span style="color:darkblue">Cortar cadenas</span>

Puede devolver un rango de caracteres utilizando la sintaxis de división, especifique el índice inicial y el índice final, separados por dos puntos, para devolver una parte de la cadena.

<span style="color:darkred">Tomando en cuenta que la numeración de Python inician en **cero**.</span>

In [66]:
a = 'Hola,  mundo!'
b = 'Cortaremos estas cadenas'

print(len(a), len(b))

print(a[2:7])
print(b[4:14])

print(a[0:10])
print(b[19:22])

13 24
la,
aremos est
Hola,  mun
den

#### <span style="color:darkblue">Cortar desde el principio</span>

Al omitir el índice de inicio, el rango comenzará en el primer carácter:

In [67]:
a[:9]

'Hola,  mu'

#### <span style="color:darkblue">Cortar hasta el final</span>

Al omitir el índice final, el rango irá hasta el final:

In [68]:
b[5:]

'remos estas cadenas'

#### <span style="color:darkblue">Indexación negativa</span>

Utilice índices negativos para iniciar el segmento desde el final de la cadena:

In [69]:
print(a,b)

print(a[-5:-2])
print(b[-14:-1])

Hola,  mundo! Cortaremos estas cadenas
und
 estas cadena

In [71]:
subcadena = b[4:9]
subcadena

'aremo'

In [75]:
lista = list(range(1,10))
print(lista)

print(lista[0])
print(lista[-1])
print(lista[6])
print(lista[-6])
print(lista[-8])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
9
7
4
2

### Ejercicios:
<span style="color:darkgreen">
    
1. Asigna la cadena "Bienvenido a Python" a una variable llamada mensaje y luego imprímela.

2. Crea una cadena multilinea que represente un poema y asigna la cadena a una variable llamada poema. Luego, imprime el contenido de la variable.

3. Dada la cadena "Programación en Python", asigna la subcadena "Python" a una variable llamada lenguaje utilizando el corte adecuado. Luego, imprime el contenido de la variable.

4. Asigna la cadena "abcdefghij" a una variable llamada cadena. Luego, crea una nueva cadena que contenga solo los caracteres "cdef" utilizando el corte adecuado y asígnala a la variable subcadena. Finalmente, imprime el contenido de la variable subcadena.

5. Dada la cadena "Python es genial", utiliza el corte adecuado para asignar la subcadena "es genial" a una variable llamada parte. Imprime el contenido de la variable.
</span>

    6. Asigna la cadena "ABCDEFGHI" a una variable llamada letras. Luego, crea una nueva cadena que contenga solo los últimos tres caracteres "GHI" utilizando la indexación negativa y asígnala a la variable ultimas_letras. Imprime el contenido de la variable.

    7. Asigna la cadena "Esto es un ejemplo de indexación negativa" a una variable llamada texto. Utiliza la indexación negativa para asignar la subcadena "negativa" a una variable llamada subcadena. Imprime el contenido de la variable.

    8. Asigna la cadena "abcdefghij" a una variable llamada cadena. Utiliza el corte adecuado y la indexación negativa para asignar la subcadena "efgh" a una variable llamada subcadena. Imprime el contenido de la variable.

###   <span style="color:darkred">Funciones de Cadenas</span>

Python tiene un conjunto de métodos integrados que puede usar en cadenas.

#### <span style="color:darkblue">Convertir todo a Mayúsculas</span>

El método `upper()` devuelve la cadena en mayúsculas:

In [77]:
a = 'Hola, MUndo: esta es una prueba'
print(a.upper())

HOLA, MUNDO: ESTA ES UNA PRUEBA

#### <span style="color:darkblue">Convertir todo a Minúsculas</span>

El método `lower()` devuelve la cadena en minúsculas:

In [78]:
print(a.lower())

hola, mundo: esta es una prueba

#### <span style="color:darkblue">Eliminar espacios en blanco</span>

El espacio en blanco es el espacio antes y/o después del texto real, y muy a menudo desea eliminar este espacio.

El método `strip()` elimina cualquier espacio en blanco desde el principio o el final:

In [80]:
a = '   Hola, Mundo: esta es una prueba   '
print(a, a.strip())

   Hola, MUndo: esta es una prueba    Hola, MUndo: esta es una prueba

#### <span style="color:darkblue">Reemplazar cadena</span>

El método `replace()` reemplaza una cadena con otra cadena:

In [84]:
a = 'Hola, Mundo: esta es una prueba, San Miguel'

print(a.replace('S','J'))
print(a.replace('s','X'))
print(a.replace('esta','no'))

Hola, Mundo: esta es una prueba, Jan Miguel
Hola, Mundo: eXta eX una prueba, San Miguel
Hola, Mundo: no es una prueba, San Miguel

#### <span style="color:darkblue">Cadena dividida</span>

El método `split()` devuelve una lista donde el texto entre el separador especificado se convierte en los elementos de la lista. 

El `split( )` método divide la cadena en subcadenas si encuentra instancias del separador:

In [86]:
abecedario = 'abcdefghijklmnopqrstuvwxyz'

print(abecedario.split('d'))
print(abecedario.split('m'))
print(abecedario.split('x'))

['abc', 'efghijklmnopqrstuvwxyz']
['abcdefghijkl', 'nopqrstuvwxyz']
['abcdefghijklmnopqrstuvw', 'yz']

#### <span style="color:darkblue">Concatenación de cadenas</span>

Para concatenar o combinar dos cadenas, puede usar el **operador +**.

In [88]:
print(a + b)
print(a + ' ' + b)

Hola, Mundo: esta es una prueba, San MiguelCortaremos estas cadenas
Hola, Mundo: esta es una prueba, San Miguel Cortaremos estas cadenas

Para agregar un espacio entre ellos, agregue un " ":

#### <span style="color:darkblue">Formato de cadena</span>
Como aprendimos en el capítulo Variables de Python, no podemos combinar cadenas y números como este:

In [89]:
edad = 34
cadena = 'Mi nombre es Blu , y tengo' + edad

TypeError: can only concatenate str (not "int") to str

No podemos concatenar un texto con un número debido a que Python no sabrá si lo que queremos es sumar o concatenar las variables por ello es necesario realizar un formato específico para ello.

El método `format()` toma los argumentos pasados, les da formato y los coloca en la cadena donde están los marcadores de posición: {}

In [90]:
edad = 34
cadena = 'Mi nombre es Blu , y tengo {}'
print(cadena.format(edad))

Mi nombre es Blu , y tengo 34

El método `format()` toma un número ilimitado de argumentos y se colocan en los marcadores de posición respectivos:

In [93]:
superMercado      = 'La Venta'
cantidadArticulos = 3
precioArticulo    = 1.40
totalCompra       = precioArticulo*cantidadArticulos

ordenCompra = 'Fui a {} y compre {} articulos, a un precio de  {} y en total gaste {:.2f}'

ordenCompra.format(superMercado,cantidadArticulos,precioArticulo,totalCompra )

'Fui a La Venta y compre 3 articulos, a un precio de  1.4 y en total gaste 4.20'

Puede usar números de índice `{0}` para asegurarse de que los argumentos se colocan en los marcadores de posición correctos:

In [97]:
superMercado      = 'La Venta'
cantidadArticulos = 3
precioArticulo    = 1.40
totalCompra       = precioArticulo*cantidadArticulos

ordenCompra = 'Fui a {0} y compre {2} articulos, a un precio de  {1} y en total gaste {3:.2f}'

ordenCompra.format(superMercado,cantidadArticulos,precioArticulo,totalCompra )
#.                     0               1               2           3

'Fui a La Venta y compre 1.4 articulos, a un precio de  3 y en total gaste 4.20'

### String Interpolation / f-Strings (Python 3.6+)

Another new string formatting is string interpolation, f-strings. Strings start with f and we can inject the data in their corresponding positions.

count(): returns occurrences of substring in string, count(substring, start=.., end=..). The start is a starting indexing for counting and end is the last index to count.

### <span style="color:darkred">Caracteres de escape</span>

Para insertar caracteres que no son válidos en una cadena, utilice un carácter de escape. Un carácter de escape es una barra invertida \seguida del carácter que desea insertar. Un ejemplo de un carácter ilegal es una comilla doble dentro de una cadena que está entre comillas dobles:

In [148]:
superMercado   = 'La Despensa de don 'Isaias''

SyntaxError: invalid syntax (315027656.py, line 1)

Para solucionar este problema, utilice el carácter de escape “\”, el carácter de escape le permite usar comillas dobles cuando normalmente no se le permitiría:

In [150]:
superMercado   = 'La Despensa de don \'Isaias\''
print(superMercado)

La Despensa de don 'Isaias'

## Ejercicios:

    1. Dada la cadena "¡Hola, mundo!", crea una variable que contenga solo la palabra "Hola" utilizando el corte adecuado.
    
    2.Crea una cadena multilinea que represente un poema y luego imprímela.
    
    3. Dada la cadena "Programación Python", obtén la subcadena "Python" utilizando el corte adecuado.
    
    4.Dada la cadena "Bienvenidos al mundo de Python", obtén la subcadena "mundo de" utilizando el corte adecuado.
    
    5. Dada la cadena "ABCDE", utiliza indexación negativa para obtener la subcadena "BCD".
    
     6.Elimina los espacios en blanco al principio y al final de la cadena " Hola, mundo! ".
     
    7.Reemplaza todas las apariciones de "bien" por "muy bien" en la cadena "Me siento bien hoy.".
    
    8.Divide la cadena "manzana,pera,durazno", utilizando la coma como delimitador, y almacena los elementos en una lista.
    
    9.Divide la cadena "Python es un lenguaje de programación" en palabras individuales y almacénalas en una lista.
    
    10.Crea una cadena en mayúsculas y luego conviértela a minúsculas.
    
    11.Dada la cadena "este es un ejemplo", convierte la primera letra en mayúscula y el resto en minúsculas.
    
    12.Centra la cadena "Python" en una longitud total de 15 caracteres con el carácter "-".
    
    13.Divide la cadena "Uno-Dos-Tres" en tres partes utilizando el guión como delimitador y almacénalas en una lista.
    
    14. Reemplaza la palabra "rápido" por "veloz" en la cadena "El zorro es muy rápido.".
    
    15.Elimina todas las letras "a" de la cadena "anaranjada".

### <span style="color:darkblue">Aplicando Conocimientos</span>

1.	Crear un programa de Python que permita separar todas las palabras la siguiente frase de programación: 

“Programación es arte y ciencia, un lenguaje que crea la realidad, una forma de dar vida a la inteligencia, y al mundo digital una identidad.”

Este ejercicio además nos mostrará como podemos contar los elementos de una lista. 

2.	Utilizando las letras del abecedario mostrar los siguientes valores:

a.	Las primeras 10 letras 

b.	Las ultimas 10 letras 

c.	El abecedario al reves

In [5]:
abecedario = 'abcdefghijklmnopqrstuvwxyz'
print(len(abecedario))
print(abecedario[::-1])

26
zyxwvutsrqponmlkjihgfedcba