In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('GSAF5.csv',encoding= 'latin-1')

In [6]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [8]:
df.shape

(5992, 24)

In [11]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [12]:
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

# Contruyendo un  Dataframe

Con las variables en uso para nuestro informe

In [15]:
data = df[['Case Number',
           'Date','Year','Type','Country','Area', 
           'Location','Activity','Sex ', 'Injury','Fatal (Y/N)' ]]

In [17]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N)
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Minor injury to thigh,N
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to hands,N
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to lower leg,N
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,Struck by fin on chest & leg,N
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,No injury: Knocked off board by shark,N

In [18]:
data.dtypes

Case Number    object
Date           object
Year            int64
Type           object
Country        object
Area           object
Location       object
Activity       object
Sex            object
Injury         object
Fatal (Y/N)    object
dtype: object

In [19]:
data.shape

(5992, 11)

# Eliminando registros duplicados

Utilizaremos el mÃ©todo `.duplicated()` : devuelve si un registro estÃ¡ duplicado o no `(True o False)`

In [23]:
# Para todo el DataFrame 

data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5987    False
5988    False
5989    False
5990    False
5991    False
Length: 5992, dtype: bool

In [24]:
data.duplicated().sum()

0

In [25]:
data['Case Number'].duplicated().sum()

16

# Utilizando filtros en el DataFrame

UTilizaremos un filtro para poder conocer los duplicados, transformar esta columna de repetidos a una lista con el mÃ©tdo `.tolist()`

In [26]:
duplicates = data[data['Case Number'].duplicated(
    keep = False)]['Case Number'].tolist()

In [27]:
duplicates

['2014.08.02',
 '2014.08.02',
 '2013.10.05',
 '2013.10.05',
 '2012.09.02.b',
 '2012.09.02.b',
 '2009.12.18',
 '2009.12.18',
 '2006.09.02',
 '2006.09.02',
 '2005.04.06',
 '2005.04.06',
 '1990.05.10',
 '1990.05.10',
 '1983.06.15',
 '1983.06.15',
 '1980.07.00',
 '1980.07.00',
 '1966.12.26',
 '1966.12.26',
 '1962.06.11.b',
 '1962.06.11.b',
 '1923.00.00.a',
 '1923.00.00.a',
 '1920.00.00.b',
 '1920.00.00.b',
 '1915.07.06.a.R',
 '1915.07.06.a.R',
 '1913.08.27.R',
 '1913.08.27.R',
 '1907.10.16.R',
 '1907.10.16.R']

In [29]:
type(duplicates),len(duplicates)

(list, 32)

## Recoradando las propiedades de los conjuntos

In [32]:
setprueba = {1,1,2,2,2,2,5,3,3,3,4,5,5}

In [33]:
setprueba

{1, 2, 3, 4, 5}

## Utilizando MÃ©todos de localizacion de registros.

`.iloc()` -> Funciona sobre el Ã­ndice ;

`.loc()`  -> Funciona sobre etiquetas ;

In [36]:
set_duplicates = set(duplicates)
set_duplicates, len(set_duplicates)

({'1907.10.16.R',
  '1913.08.27.R',
  '1915.07.06.a.R',
  '1920.00.00.b',
  '1923.00.00.a',
  '1962.06.11.b',
  '1966.12.26',
  '1980.07.00',
  '1983.06.15',
  '1990.05.10',
  '2005.04.06',
  '2006.09.02',
  '2009.12.18',
  '2012.09.02.b',
  '2013.10.05',
  '2014.08.02'},
 16)

## Proceso de EliminaciÃ³n de duplicados

In [38]:
for reg in set_duplicates:
    dup = data[data['Case Number'] == reg]
    data.loc[dup.iloc[1,:].name, 'Case Number'] = data.loc[dup.iloc[1,:].name]['Case Number']+ 'z'

In [41]:
# comprobacion de registros duplicados

data.duplicated().sum()

0

In [42]:
data['Case Number'].duplicated().sum()

0

## Nota: Eliminar registros de DataFrames es una Ãºltima opciÃ³n.

## Localizar valores Nulos. Eliminar o Sustituir

`.isnull()`

In [45]:
data.isnull().sum()

Case Number      0
Date             0
Year             0
Type             0
Country         43
Area           402
Location       496
Activity       527
Sex            567
Injury          27
Fatal (Y/N)     19
dtype: int64

In [46]:
data['Injury'].value_counts()

FATAL                                                                   729
Survived                                                                 97
Foot bitten                                                              82
No injury                                                                77
Leg bitten                                                               71
                                                                       ...
Puncture wounds on leg                                                    1
Left arm & leg lacerated                                                  1
Left leg & right testicle bitten                                          1
5 punctures to hand from captive shark PROVOKED INCIDENT                  1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: Injury, Length: 3595, dtype: int64

In [47]:
data[(data['Activity'].isnull())]['Injury'].value_counts()

FATAL                                                 75
Survived                                              41
No details                                            22
No injury                                              8
Leg bitten                                             5
                                                      ..
Left leg bitten                                        1
Massive wound on right thigh with femur exposed        1
Knee lacerated                                         1
Foot severed FATAL                                     1
FATAL, femoral artery severed, died 12 days later      1
Name: Injury, Length: 329, dtype: int64

### Utilizando filtros con el mÃ©todo `.str`

Crear filtros para buscar alguna palbra especifica que me indiquen que los daÃ±os fuero a surfistas : 'board', 'surfer', y dejamos fuera los casos de 'on board' y 'off board'.

In [49]:
filter_1 = (data['Injury'].str.contains('board', 
                                        na = False, regex = False))

In [51]:
filter_2 = (data['Injury'].str.contains('surfer', 
                                        na = False, regex = False))

In [52]:
filter_3 = (data['Injury'].str.contains('on board', 
                                        na = False, regex = False))

In [53]:
filter_4 = (data['Injury'].str.contains('off board', 
                                        na = False, regex = False))

In [55]:
#se utiliza la ~ para negar
new_data = data[filter_1 & filter_2 & ~filter_3 & ~filter_4]
new_data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N)
353,2014.03.18.b,18-Mar-14,2014,Unprovoked,AUSTRALIA,Victoria,Winkipop Beach,Surfing,M,Shark leapt onto surfboard; surfer uninjured,N
683,2011.06.24,24-Jun-11,2011,Unprovoked,USA,California,"San Onofre State Beach, San Diego County",Surfing,M,Shark leapt onto surfboard; surfer uninjured,N
889,2009.07.11.a,11-Jul-09,2009,Unprovoked,USA,California,"San Onofre, San Diego County",Paddle-surfing,M,"No injury, shark collided with surfer & board",N
932,2009.02.18,18-Feb-09,2009,Unprovoked,AUSTRALIA,New South Wales,"Shelly Beach, near Port Macquarie",Surfing,M,"No injury to surfer, but the nose of his board...",N
982,2008.09.08,08-Sep-08,2008,Unprovoked,USA,California,"Surf Beach, Lompoc, Santa Barbara County",Surfing,M,"No injury to surfer, board bitten",N
983,2008.09.07,07-Sep-08,2008,Unprovoked,AUSTRALIA,New South Wales,"Clarks Beach, Byron Bay",Surfing,M,Shark became tangled in his surfboard leash. T...,N
1063,2008.03.07,07-Mar-08,2008,Unprovoked,USA,California,"Huntington Beach, Orange County",Surfing,M,"No injury to surfer, surfboard bitten by the s...",N
1100,2007.09.27.b,27-Sep-07,2007,Unprovoked,USA,California,"Moonstone Beach, Humboldt County",Surfing,F,"No injury to surfer, surfboard bitten",N
1215,2006.08.29.a,29-Aug-06,2006,Unprovoked,AUSTRALIA,South Australia,"Pennington Bay, Kangaroo Island",Surfing,M,"No injury, shark towed surfer & board",N
2607,1985.12.22,22-Dec-85,1985,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Garvies Beach,Surfing,M,"Both surfers boards were bumped by sharks, Moo...",N

In [60]:
data[(data['Country'].isnull()) & (data['Area'].isin(('Alaska','Hawai','California','Oregon', 'Washington' )))]

Empty DataFrame
Columns: [Case Number, Date, Year, Type, Country, Area, Location, Activity, Sex , Injury, Fatal (Y/N)]
Index: []

In [61]:
dataf_reduced = data[(data['Activity']== 'Surfing')]

In [62]:
dataf_reduced

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N)
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Minor injury to thigh,N
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to hands,N
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,Lacerations to lower leg,N
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,Struck by fin on chest & leg,N
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,No injury: Knocked off board by shark,N
...,...,...,...,...,...,...,...,...,...,...,...
5004,1922.01.04,04-Jan-22,1922,Unprovoked,AUSTRALIA,New South Wales,"Stockton Beach, Newcastle",Surfing,M,"FATAL, disappeared, then his shark-bitten rema...",Y
5048,1918.03.22,22-Mar-18,1918,Unprovoked,AUSTRALIA,New South Wales,Newcastle,Surfing,M,"Severe laceration to arm, necessitating surgic...",N
5808,1828.00.00,1828,1828,Unprovoked,USA,Hawaii,"Uo, Lahaina, Maui",Surfing,M,FATAL,Y
5837,1779.00.00,1779,1779,Unprovoked,USA,Hawaii,"Maliu, Hawai'i",Surfing,M,"FATAL, buttock lacerated",Y
5891,ND-0122,Beforer 1994,0,Unprovoked,USA,Florida,"Lost Tree Village, Palm Beach County",Surfing,M,Legs bitten,N